# 1) rename this file in '.env'
# 2) change the path to the media stack config, change and download directories (docker volumes)
# 3) change the path to the media directories

MEDIA_STACK_PATH=/path/to/docker/volumes
MEDIA_STACK_MEDIA_DIRECTORY=/path/to/media/directory


