# 1) rename this file in '.env'
# 2) change the values of the variables below to the paths of the assigned directories

MEDIA_STACK_CONFIG=/path/to/configurations/directoriy
MEDIA_STACK_MEDIA=/path/to/media/directory
MEDIA_STACK_DOWNLOADS=/path/to/downloads/directory
MEDIA_STACK_PLEX_CACHE=/path/to/plex/cache/directory
MEDIA_STACK_PLEX_TRANSCODE=/path/to/plex/transcode/directory
MEDIA_STACK_JELLYFIN_CACHE=/path/to/jellyfin/cache/directory
BAZARR_MOVIES_FOLDER_NAME=movies_dir_name_in_media_directory
BAZARR_SHOWS_FOLDER_NAME=shows_dir_name_in_media_directory

